a, a:visited, a:active {
    text-decoration: none;
    color: white;
}

.about-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    font-size: 3rem;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../assets/frontpage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.about-header {
    display: flex;
    margin-top: 5%;
    
}
.about-paragraph {
    margin: 2% 10% 10% 10%;
}