.closed {
    display: none;
}

.open {
    display: block;
}

#toggle {
    height: 40px;
    width: 40px;
    border: none;
    background: none;
    color: white;
    padding-left: 40px;
}

#toggle:hover {
    cursor: pointer;
}