* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.navbar {
    display: 'flex'; 
    flex-direction: 'right';
    background-color: "#DDDDDD";
    

}